body {
  margin: 0;
}

.app {
  padding: 20px 40px;
  height: calc(100vh - 40px);
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

textarea {
  display: block;
  background-color: var(--primary-background-color) !important;
  border: 1px solid #c3c6d4;
  border-color: var(--ui-border-color);
  border-radius: 4px;
  color: #323338;
  color: var(--primary-text-color);
  font-family: Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP, sans-serif;
  font-family: var(--font-family);
  font: 400 14px/24px Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP, sans-serif;
  font: var(--font-general-label);
  height: 100%;
  outline: 0;
  padding: 8px 16px;
  transition: border-color .1s ease-in;
  transition: border-color var(--motion-productive-medium) ease-in;
  resize: none;
  width: 200px;
}

textarea:hover {
  border-color: #000;
  border-color: var(--color-black);
}

textarea:focus {
  border-color: #0073ea;
  border-color: var(--primary-color);
}

label {
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

input {
  background-color: var(--primary-background-color) !important;
}

.has-margin-bottom {
  margin-bottom: 24px;
}

.has-white-background {
  background-color: var(--primary-background-color) !important;
}

.has-icon-success {
  svg {
    color: var(--color-success);
  }
}

.is-half-width {
  width: 50%;
}

.is-third-width {
  width: 33%;
}

.is-quarter-width {
  width: 25%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast {
  width: 390px;
  z-index: 999;
}

.searchbox {
  max-width: 490px;
}